/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image:
    /* Horizontal stripes */
    repeating-linear-gradient(
      to right,
      var(--stripe-color),
      var(--stripe-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    /* Vertical stripes */
      repeating-linear-gradient(
        to bottom,
        var(--stripe-color),
        var(--stripe-color) 2px,
        transparent 2px,
        transparent 4px
      ),
    /* Color density gradient */
      linear-gradient(
        to bottom,
        var(--background-primary) 0.01%,
        var(--background-secondary) 100%
      );
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--card-weight);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-block: 100px;
  padding: 25px;
  inline-size: var(--inline-size);
  block-size: clamp(20.438rem, 14.6057rem + 13.9904vw, 23rem);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.6875rem + 0.8333vw, 1.4375rem);
}
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--inline-size);
  block-size: clamp(47.5rem, 19.1855rem + 67.9208vw, 59.938rem);
  background-color: var(--bg-color);
  font-size: 1.125rem;
}
.card {
  border: 2px solid var(--accent-color);
}

.card__heading {
  font-size: 1.125rem;
}

.card__content {
  padding: 25px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block-end: 25px;
}
.header__logo {
  font-size: clamp(3.0625rem, 2.7292rem + 1.4815vw, 4.0625rem);
  margin-block-end: 20px;
}
.header__title {
  font-size: clamp(0.875rem, 0.6875rem + 0.8333vw, 1.4375rem);
  margin-block-end: 25px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.825rem;
}
.theme-menu__item {
  font-size: 0.875rem;
  padding-inline-start: 1rem;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.theme-menu__button:hover,
.theme-menu__button:disabled,
.theme-menu__button:focus-visible {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-end: calc(100% + 10px);
  animation-name: arrow-movement;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes arrow-movement {
  from {
    inset-inline-end: calc(100% + 10px);
  }
  to {
    inset-inline-end: calc(100% + 10px + 4px);
  }
}

.theme-menu__button:focus-visible {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  height: 2px; /* Толщина полосы */
  background-color: currentColor; /* Цвет полосы */
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card__heading {
  padding-inline: 0.625rem;
  padding-block: 0.3rem;
  border-block-end: 2px solid var(--accent-color);
}

.card__content {
  border-block-start: 2px solid var(--accent-color);
}

.card__content-paragraph {
  line-height: 117%;
}

.card__image-wrapper {
  position: relative;
}

.card__label {
  position: absolute;
  color: var(--accent-color);
  opacity: 0.5;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.813rem, 0.5489rem + 1.1268vw, 1.563rem);
  mix-blend-mode: hard-light;
  font-family: var(--accent-font), sans-serif;
  font-size: 0.875rem;
  text-shadow:
    -1px 0 var(--label-border-color),
    0 1px var(--label-border-color),
    1px 0 var(--label-border-color),
    0 -1px var(--label-border-color);
}

@supports (
  (text-stroke: 1px var(--label-border-color)) or
    (-webkit-text-stroke: 1px var(--label-border-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--label-border-color);
    text-stroke: 1px var(--label-border-color);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
}

@media (width <= 375px) {
}
