/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P-Regular";
  --card-title-weight: 700;
  --card-weight: 400;
  --bg-color: #f5f5f5;
  --accent-color: #000;
  --background-primary: #e7e7e7;
  --background-secondary: #1a1a1a;
  --stripe-color-light: #d3d3d3;
  --inline-size: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
  --label-border-color: #fff;
  --heart-fill-color: #ff0000;
  --heart-contour-color: #000;
  --main-button-text-color: #fff;
}
